@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  .advice-generator{
    min-width: 100%;
    min-height: 100%;
    font-family: 'Manrope', sans-serif;    
    font-size: 28px;
    font-weight: 800;
    @apply  bg-dark-blue 
  }
}
@layer components{
  .full-center{
    @apply  left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 absolute
  }
}