@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:'Manrope'; 
  src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
}
@font-face{
  font-family:'Bai Jamjuree'; 
  src: url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
}
@font-face {
  font-family: 'PlusJakarta';
  src: url('/notification/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Hanken';
  src: url('/results/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

html,body,#__next{
  height: 100%;
  width: 100%;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}
*::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb{
	background-color: #000000;
	border: 2px solid #555555;
}
main.robot-page{ 
  font-family: Lato, sans-serif;
}